body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100;
    background-color: #ECEFF1;
}

section {
    background-color: white;
    margin: 1em 4em 1em 4em;
    border: solid 1pt black;
}

section h3 {
    color: white;
    padding: 0.75rem;
    background-color: #263238;
}

.status {
    border-radius: 0.25rem;
    padding: 3px;
    color: white;
}

.status-processing {
    background-color: #e65100;
}

.status-shipped {
    background-color: #4CAF50;
}

.status-pending {
    color: white;
    background-color: #03A9F4;
}

#caption {
    font-size: 0.75em;
    color: #607D8B;
}

.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 0.25rem;
}

.progress-bar {
    width: 100%;
    background-color: #03A9F4;
    border-radius: 0.25rem;
}