
/* general text formatting */


body {
   font-family: 'Roboto', Arial, sans-serif;
   font-size: 16px;
   font-weight: 300;
   margin: 3px 0 0 0;
}

h1, h2, h3, nav, footer {
   font-weight: 500;
  }

legend {
   background-color: #044e54;
   color: white;
   margin: 0 auto;
   width: 90%;
   padding: 0.25em;
   text-align: center;
   font-weight: 500;
   font-size: 24px;
}

fieldset {
   margin: 0.5em auto;
   background-color: var(--color-neutral-100);
   border: solid 1px #e8e6e1;
   width: 90%;
}

div#searchBox, div#settingsBox, div#paintingBox {
   margin: 0.25em auto;
   background-color: #E8E6E1;
   padding: 1em;
   border: 0;
   width: 90%;
}
div#searchBox { margin-top: 1em; }

div#searchBox input[type="search"], div#searchBox select, div#settingsBox select {
   border: 0;
   padding: 7px;
   height: 36px;
   border-radius: 4px;
   margin-right: 5px;
}
div#searchBox input[type="radio"], div#paintingBox input[type="checkbox"] {
   display: inline-block;
   margin: 5px;
   width: 20px;
   height: 20px;
}

div#searchBox select {
   margin: 0 8px;
}


div#paintingBox { 
   margin-top: 1em; 
   background-color: #E8E6E1;
   padding: 0
   }

table {
   width: 100%;
   border-collapse: collapse; 
   border-spacing: 0;
   
}

table tbody td{
   border-top: 1pt solid #D3CEC4;   
   line-height: 1.5em;
   vertical-align: middle;
   padding: 0.5em 0.75em;
}
table thead th {
   text-align: left;
   padding: 0.25em 0.75em; 
   font-weight: 400;
}
table thead {
   background-color: #E0FCFF;
   width: 100%;
}

table tbody td:first-child  {
   text-align: center;
   padding: 0.5em 0em;   
}
td img.thumb {
   padding: 2px;
   border: solid 1pt #B8B2A7; 
   width: 100px;
}
td em {
   font-style: italic;
   font-weight: 300;
   margin-right: 0px;
}

caption {
   background-color: #0A6C74;
   color: #E0FCFF;
   padding: 0.5em 0.5em; 
   font-weight: 400;
   font-size: 1.2em;
}

button, input[type="submit"] {
   display: inline-block;
   padding: 6px;
   border: 0;
   border-radius: 3px;
   cursor: pointer;
   height: 36px;
}

.primary {
   background-color: #54D1DB;
   border: solid 1px #2CB1BC;
}

.actions {
   background-color: #14919B;
   border: solid 1px #0A6C74;
   color: white;
   margin-left: 5px;
}

.secondary {
   border: solid 1px #B8B2A7;
}
